/* ---------------------------------------------- */
/*             Baoyun's small site                */
/* ---------------------------------------------- */
/* Author:      renbaoshuo                        */
/* Date:        2020/05/26                        */
/* Link:        https://www.baoshuo.ren           */
/* Github:      renbaoshuo/baoyun-site            */
/* ---------------------------------------------- */
/* Copyright 2020 RenBaoshuo All Rights Reserved. */
/* ---------------------------------------------- */


/* 主体背景 */
body {
    font-size: 18px;
    color: #6c767d;
    height: 95vh;
}

#bg {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    filter: blur(0px);
    z-index: -1;
    background-size: cover;
    /* background-image: url(assets/img/background.jpg); */
    background-image: url(https://cdn.jsdelivr.net/gh/renbaoshuo/baoyun-site@master/assets/img/background.jpg);
}

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, .3);
    background-color: #555;
}

.main {
    background-color: #eee;
    text-align: center;
    filter: none !important;
}
.main .i {
    color: #000;
    font-size: 17px;
    text-align: left;
}


@media(min-width: 550px) {
    .card {
        border: none;
        padding: 20px 80px 20px;
        border-radius: 10px;
        max-width: 550px;
    }
    .tabs {
        min-height: 310px;
    }
}
@media(max-width: 549px) {
    .card {
        border: none;
        padding: 20px 40px 20px;
        border-radius: 10px;
        max-width: 550px;
    }
}

.main {
    position: relative;
    top: 15%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    color: #444;
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 20px;
}

h3 {
    font-size: 17px;
    margin-top: 1em;
}

.contact {
    padding-left: -5px;
}

ul {
    list-style-type: none;
    padding-inline-start: 10px !important;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; 
}
    .tabs [class^="tab"] label,
    .tabs [class*=" tab"] label {
        /* color: black; */
        cursor: pointer;
        display: block;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1em;
        padding: 1rem 0;
        text-align: center; 
    }
    .tabs [class^="tab"] [type="radio"],
    .tabs [class*=" tab"] [type="radio"] {
        /* border-bottom: 1px solid rgba(239, 237, 239, 0.5); */
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; 
    }
    .tabs [class^="tab"] [type="radio"]:hover, 
    .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
        /* tab标签选中的颜色标志 */
        border-bottom: 2px solid #6c767d;
    }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
        border-bottom: 2px solid #40a9ff; 
        outline: none;
    }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
        opacity: 1; 
    }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
        display: block;
        opacity: 0;
        padding: 1rem 0;
        width: 90%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; 
    }
    .tabs .tab-2 {
        width: 50%; 
    }
    .tabs .tab-2 [type="radio"] + div {
        width: 200%;
        margin-left: 200%; 
    }
    .tabs .tab-2 [type="radio"]:checked + div {
        margin-left: 0; 
    }
    .tabs .tab-2:last-child [type="radio"] + div {
        margin-left: 100%; 
    }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
        margin-left: -100%; 
    }

  
.info {
    background: #FFFBCC;
    border: 1px solid #FFEC19;
    color: #666;
    line-height: 2;
    margin-top: 12px;
    text-indent: 6px;
    font-size: 13px;
}

